@{
  Layout = "_Layout";
}

@model Library.Models.Title

<h1>You are in Views/Titles/Create.cshtml</h1>

<h4>Add a new Title</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.TitleName)
    @Html.TextBoxFor(model => model.TitleName)
    <input type="submit" value="Add new Title" />
}

<p>@Html.ActionLink("Show all Titles", "Index")</p>